* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 12px;              
}

body::-webkit-scrollbar-track {
  background: #f3f2f2;        
}

body::-webkit-scrollbar-thumb {
  background-color: brown;    
  border-radius: 20px;       
  border: 1px solid black;  
}