$textColor: #0a380b;
$backgroundColor: #f3f2f2;
$borderColor: #4A5E26;

.one-card {
    background-color: $backgroundColor;
    width: 350px;
    height: 360px;
    border-radius: 20px;
    margin-bottom: 15px;
    border: 2px solid $borderColor;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform .2s;

    .picture {  
        width: 100%;
        height: 200px;
        border-radius: 20px;
    }

    h1 {
        color: $textColor;
        font-size: 30px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 20px;
    }

    a {
        text-decoration: none;
        font-size: 20px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        padding-left: 20px;

        a:hover {
            color: red;
        }
    }

    p {
        padding: 20px;
        font-size: clamp(15px, 2.5vw, 5px);
    }
}

.one-card:hover {
    transform: scale(1.2);
}




